{% extends "layouts/main.html" %}

{% block content %}

<article>
  <h2>Was passiert hier?</h2>
  <main>
    hier wird es in nächster Zeit Informationen zu unserem Seminar geben. Zum einen über unser Projekt, zum anderen über einige Dinge, die wir über das Semester erarbeitet haben.
    <br>
    Hier geht es zum <a href="https://writemd.rz.tuhh.de/NuXC_CPrRcGSvNUhXv_7Lg?view" target="blank">Linksammler.</a> Der ist zur Zeit noch für Medientechnik/Informatik ausgelegt, beinhaltet aber alle nützlichen Links zu diesem Seminar. <br>
    <br>
    Woran ich gerade arbeite:<br>
      <ul id="WiP">
      <li><a href="/">Startseite</a></li>
      <li><a href="/Ueberuns">Über uns>Über uns</a></li>
      <li><a href="/Das-Projekt">Das Projekt</a></li>
      <li><a href="/Aus-Dem-Seminar">Aus dem Seminar</a></li>
      <li><a href="/Datenschutz">Datenschutz</a></li>
      <li><a href="/Impressum">Impressum</a></li>
    </ul>
    <br>
    Den bisher größten Fortschritt gibt es wohl auf <a href="/Aus-Dem-Seminar">Aus dem Seminar.</a></li>
    <br>
    Außerdem habe ich eine <a href="/test">Testseite</a>, auf der ich mit verschiedensten dynamischen Dingen experimentiere.
    <br>
  </main>
</article>


{% endblock %}

